[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "destiny"]
	path = destiny
	url = https://github.com/theislab/destiny
[submodule "zellkonverter"]
	path = zellkonverter
	url = https://github.com/theislab/zellkonverter
